*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar{
	padding: 20px 20px;
}

.menu{
	position: relative
	dispaly inline-block;
}
.menu-content{
	display: none;
	position: absolute;
	background-color: antiquewhite;
	min-width: none;
	box-shadow: none;



}
.menu-content a{
	position: absolute;
	padding: 0;
	text-decoration: ;
	display: none;
}
body{
	font-family: sans-serif;
	background-color:aliceblue;
	color: rgba(20, 20, 20, 0.904);

}

